# bld
bld/

# documentation
docs_template/build/
docs_template/scripts/latex/*.png

# latex
*.aux
*.bbl
*.bcf*
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.pdf
*.run.xml
*.snm
*.synctex.gz
*.toc

# local
.DS_Store
.vscode

# python
*.egg-info
*.ipynb_checkpoints
*.pyc
*__pycache__
*_version.py

# python tools
.pixi
.pytest_cache
.pytask
.pytask.sqlite3
.ruff_cache
