# Claude Code
.claude/

# Distribution / packaging
*.egg
*.egg-info
*.manifest
*.so
*.spec
*$py.class
_version.py
.eggs/
.installed.cfg
bld/
build/
dist/
MANIFEST
sdist/
wheels/

# IDE
.cursor/
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store
Thumbs.db

# Pickle
*.pickle
*.pkl

# pixi
.pixi/

# Python
__pycache__/
*.py[cod]

# pytask
.pytask
.pytask.sqlite3

# Ruff
.ruff_cache/

# Testing
.cache/
.coverage
.coverage.*
.pytest_cache/
coverage.xml
htmlcov/
