---
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: https://github.com/lyz-code/yamlfix
    rev: 1.18.0
    hooks:
      - id: yamlfix
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
        types: [text]
      - id: forbid-submodules
      - id: mixed-line-ending
        args: [--fix=lf]
        description: Forces to replace line ending by the UNIX 'lf' character.
      - id: trailing-whitespace
      - id: check-ast
      - id: check-docstring-first
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      - id: ruff
        types_or: [python, jupyter]
        args: [--fix]
      - id: ruff-format
        types_or: [python, jupyter]
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - --extra-keys
          - metadata.kernelspec metadata.language_info.version metadata.vscode
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        additional_dependencies: [mdformat-gfm, mdformat-gfm-alerts, mdformat-ruff]
        args: [--wrap, '88']
        files: (README\.md)
ci:
  autoupdate_schedule: monthly
