---
name: main
# Automatically cancel a previous run.
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
jobs:
  run-tests:
    name: Run tests for ${{ matrix.os }} on Python 3.13
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.62.2
          cache: true
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
          activate-environment: true
          frozen: true
      - name: Run pytest on MacOS
        shell: bash {0}
        run: pixi run pytest
        if: runner.os == 'MacOS'
      - name: Run tests on Windows
        shell: bash {0}
        run: pixi run pytest
        if: runner.os == 'Windows'
      - name: Run pytest (with coverage) on Linux
        shell: bash {0}
        run: pixi run pytest --cov-report=xml --cov=./
        if: runner.os == 'Linux'
      - name: Upload coverage reports
        uses: codecov/codecov-action@v5
        if: runner.os == 'Linux'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
